* {
	margin: 0;
	padding: 0;
}

body {
	background-color: black;
	color: white;
	font-weight: bolder;
}

.grid {
	display: grid;
	grid-template-columns: 1fr 5fr 1fr;
	grid-template-rows: 6vh 47vh 47vh;
}

.grid .nav {
	grid-column: span 4;
	grid-row: 6vh;
}

.latest {
	display: grid;
	grid-template-columns: 3fr 1fr; 
	grid-template-rows: 51.41vh;
	grid-template-areas: "late relate";
}

.tracks {
	
	display: grid;
	grid-template-columns: 2fr;
	grid-template-rows: repeat(3, 20%);
	margin: 0 50px;

}

.view {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.par {
	float: left;
}

.track-1 {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	border:solid 1px lightgrey;
	border-left: 0;
	border-right: 0;
}

.track-1 .num {
	align-self: center;
}

.track-1 .char {
	padding-right: 400px;
}

.track-1 .name {
	position: relative;
	right:200px;
}

.track-1 button {
	position: relative;
	right:100px;
	padding: 5px 15px;
	border-radius: 5px;
} 

.playing {
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: flex-end;
	height: 100px;
}

.playing >img {
	align-self: baseline;
}

.playing .pass {
	align-self: center;
	margin-left: 50px; 
}

.pass > p {
	padding: 7px 0;
}

.left .list > span {
	padding: 10px 30px;
	display: flex;
	
}


.related > p {
	border:1px solid black;
	background-color: lightgrey;
	padding: 20px;
}

































.nav {
	background-color: black;
}


.left {
	background-color: black;
	height: 95vh;
}

.center {
	background-color: black;
}
.right {
	background-color: black;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.center .banner {
	background-color: black;
	background-image: url('static/G-eazy banner overlay.jpg');
	height: 43.59vh;
}

.center .tracks {
	

}

.center .related {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	background-color: black;
	grid-area: relate;
}
