/** {
	padding: 0;
}*/
/*	margin: 0;
}
body {
	background-color: purple;

}

.grid {
	display: grid;
	grid-template-columns: 1fr 5fr 1fr;
	grid-template-rows: 5vh 47.5vh 47.5vh;
	grid-template-areas: "top top top"
						  "mid mid-2 mid-3"
						  "mid mid-2 mid-3";
	
}

.nav {
	
	background-color: white;
	grid-area: top;
	grid-row-start: 1;
	grid-row-end: 2;
	grid-column: 1/4;
}

.nav {
	
}

.left {
	padding-right: 150px;
	background-color: powderblue;
	grid-area: mid;
	
}

.center {
	background-color: black;
	grid-area:mid-2;
	
}
.right {
	background-color: yellow;
	grid-area:mid-3;
	
}

.center .banner {
	background-image: url("static/G-eazy banner overlay.jpg");
	background-color: black;
}

.banner {
	height: 60vh;
}

.track-1 {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 20px;
	border: 1px solid lightgrey;
	border-right: 0;
}

.track-1 > p.char {
	/*position: relative;
	right: 60px;
	font-size: 20px;
}

.track-1 > p.num {
	position: relative;
	right: 120px;
	font-size: 20px;
}

.track-1 > p.name {
	position: relative;
	right: 100px;
	font-size: 15px;
}

.track-1 > button {
	position: relative;
	right:30px;
	height: 20px; 
	width:70px;
}

/*
.related {
	display: flex;

}
.latest {
	backgr
}

.latest {
	background-color: 
	display: flex;
	flex-flow: column;
	/*dis
	/*grid-template-columns: 3fr 1fr;
	grid-template-rows: 35.5vh;
	grid-template-areas: "artist artist";
	/*align-content:space-between; 
	display: flex;
	flex-flow: column;
}

.tracks {
	background-color: cyan;
/*	grid-area: release;
}


.related {
	background-color: orange;
/*	grid-area: artist;
}*/*/*/*/*/*/*/

.rid {
	background-color: black;
	font-family: cursive;
}
